<!doctype html>
<html lang="fr" class="h-full w-full">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Docker WebUI</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  @vite(['resources/css/app.css'])
  <style>
    pre {
      white-space: pre-wrap;
      background-color: #0D0D0D;
      color: #fff;
      padding: 24px;
      border: 1px solid #333;
      border-radius: 5px;
      font-family: 'Courier New', monospace;
      font-size: 14px;
      line-height: 1.4;
      overflow-x: auto;
    }
  </style>

</head>
<body class="w-full h-full">
<header class="sticky inset-x-0 top-0 z-50 border-b border-gray-200 bg-white">
  <div class="mx-auto max-w-screen-xl px-4 relative flex h-16 items-center justify-between gap-4 sm:gap-8">
    <div class="flex flex-1 items-center gap-4">
    <a href="/">
        <div class="inline-flex gap-1.5 text-sm">
          <span class="font-medium text-gray-900">Docker WebUI</span>
          <span aria-hidden="true" role="img">🚀</span>
        </div>
      </a>
      <nav aria-label="Global" class="hidden lg:block lg:flex-1">
        <ul class="gap-4 flex">
          <li class="">
            <a class="text-sm font-medium text-gray-900 hover:opacity-75" href="/logs">Logs</a>
           </li>
        </ul>
      </nav>
    </div>
    <div class="flex items-center justify-end gap-2 sm:gap-4">
      <div class="relative flex h-16 items-center">
        <form role="search" class="min-w-[120px] sm:min-w-[240px]"><label for="SiteSearch"
                                                                          class="sr-only">Search</label><input
            type="text" placeholder="Search..." id="SiteSearch" class="w-full rounded-md border-gray-200 sm:text-sm"
            value="">
          <button tabindex="-1" class="sr-only">Submit</button>
        </form>
      </div>
    </div>
  </div>
</header>

<main class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 pb-8 lg:pb-12">
    {{{ await $slots.main() }}}
  </div>
</main>

</body>
</html>
